{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Page not found</h1>
    <p class="important">
        404 not found
    </p>
{% endblock %}