{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Create new blog</h1>
    <p class="important">
        create new blog post
    </p>
{% endblock %}