{% extends "base.html.twig" %}

{% block title %}Impressum{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first pt-5">
            <img
                    src="https://www.freelogoservices.com/api/main/images/1j+ojVVCOMkX9Wyrexe4hGfq1qnR9UVZxBzAwWIyPj1B9AxolSAshvJ9sKNia1hV7FANghwOdsY0jSBtAN5K0lM4oHrONIo="
                    id="icon" alt="User Icon"/>
        </div>

        <!-- Login Form -->
        <form class="pt-5" action="signIn" method="post">
            <input type="text" id="login" class="fadeIn second" name="email" placeholder="email" />
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
    </div>{% endblock %}