{% extends "base.html.twig" %}

{% block title %}Logout{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Logout</h1>
    <p class="important">
        Welcome on my awesome Logout Page.
    </p>
{% endblock %}